#main {
	width: 100%;	
}

#container {
	width: 960px;
	margin: 0 auto;
}

#banner {
	text-align: center;
	background-color: rgba(255,255,255,0.1);
	/*background-color: #990033;*/
	height:100px;
}

#banner h1 {
	color:white;
	margin: 0;
	line-height: 100px;
	font-family: 'Old Standard TT', serif;
}

#left, #right, #center {
	float:left;
	/*box-sizing:border-box;*/
	padding-top: 25px;
	/*min-height:500px;*/
	background-color: rgba(0,0,0,0.2);
}

#left, #right {
	width: 25%;
}

#map {
	padding-top: 10px;
	text-align: center;
}

#map img {
	border:5px solid white;
	width:90%;
	/*box-sizing:border-box;*/
}

#rating {
	text-align: center;
}

#rating img {
	width:40%;
}

#info {
	width:90%;	
	margin:0 auto;
	font-family: 'Old Standard TT', serif;
}

#info h4 {
	color:white;
	margin:0;
}

#info h4 span {
	/*opacity: .5;*/
}

#info p {
	margin:0;
	color:white;
}

ul {
	padding:0;
	margin:0;
	list-style-type: none;
}

#info li {
	margin-bottom:5px;
}

#center {
	width:50%;
	/*background-color: #666633;*/
}

#center img {
	width:100%;
	/*height:80%;*/
}

#center-footer {
	text-align: center;
	margin:0;
	padding:0;
	/*background-color: rgba(0,0,0,0.1); #666633;*/
}

#center-footer p {
	color:white;
	margin:0;
	font-family: 'Old Standard TT', serif;
	/*text-shadow: 1px 1px 1px #990033;*/
}

#center-footer h4 {
	color: white;
	font-family: 'Old Standard TT', serif;
	/*text-shadow: 1px 1px 1px #990033;*/
}

.nav {
	list-style-type: none;
	font-family: 'Old Standard TT', serif;
}

.nav li {
	color:white;
	font-size: 20px;
	cursor: pointer;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
	padding:0;
	margin:0;
	height: 100%;				
	font-family: 'Old Standard TT', serif;
}

#view1 {
	background-image: url('images/baybridge.jpg');
	background-size: 100% 100%;
}

#view2 {
	/*display:inline-block;*/
	/*height:600px;*/
	width:100%;
	background-image: url('images/wine.jpg');
	background-size: 100% 100%;
}

#beverages {
	padding-top:50px; 
	color:white;
	text-align: center;
}

#beverages #listing {
	display: inline-block;
	width:960px;
	text-shadow: 1px 1px 1px black;
}

.menu-listing {
	font-size: 25px;
	text-shadow: 1px 1px 1px black;
}

.menu-listing span {
	margin-left: 10px;
	font-style: italic;
	text-shadow: 1px 1px 1px black;
}














